@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
/* Misc */
/*---Colors---*/
/*---Spacing---*/
/*---Font-Family---*/
/*---Font Sizes---*/
/*---Border Radius---*/
/*---Line-height---*/
/*---Image-Size---*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  font-family: "Roboto", sans-serif; }

.titulo__principal {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 4em;
  color: #151461;
  font-weight: bold; }

.titulo__secundario {
  font-size: 2.4em;
  color: #fff;
  background-color: #0A160C;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center; }

h2 {
  text-align: center;
  color: #494949;
  font-size: 1.8em; }

/* Partials */
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to top, #000000, #1b1b1b);
  padding-left: 5rem;
  padding-right: 5rem; }
  .header .logo__header img {
    width: 150px;
    padding: 1.5rem; }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center; }
    .header .nav .nav__bar {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: space-around;
      align-items: center; }
      .header .nav .nav__bar li {
        width: 150px;
        color: #fff;
        font-size: 1.6em;
        text-align: center;
        text-transform: uppercase; }
        .header .nav .nav__bar li a {
          text-decoration: none;
          color: #fff; }
          .header .nav .nav__bar li a:hover {
            transition: 0.5s;
            color: #0075ff; }

footer {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'footer';
  padding: 1rem;
  background: linear-gradient(to top, #000000, #1b1b1b);
  font-family: "Barlow", sans-serif;
  height: 120px;
  width: 100%; }
  footer .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    footer .footer__menu .footer__links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: none; }
      footer .footer__menu .footer__links a {
        padding: 1rem;
        color: #fff;
        text-decoration: none;
        width: 180px;
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase; }
        footer .footer__menu .footer__links a:hover {
          color: #0075ff;
          transition: 0.2s ease all; }
    footer .footer__menu .redes__info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%; }
      footer .footer__menu .redes__info .redes__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 1000px; }
        footer .footer__menu .redes__info .redes__container ul li {
          display: inline-block;
          text-align: center;
          margin: 0 2rem; }
          footer .footer__menu .redes__info .redes__container ul li .facebook:hover {
            color: #225bd7;
            transition: 0.3s ease all; }
          footer .footer__menu .redes__info .redes__container ul li .instagram:hover {
            color: #e41d41;
            transition: 0.3s ease all; }
          footer .footer__menu .redes__info .redes__container ul li .whatsapp:hover {
            color: #0aa743;
            transition: 0.3s ease all; }
          footer .footer__menu .redes__info .redes__container ul li a {
            display: inline-block;
            color: #fff;
            font-size: 2em; }
            footer .footer__menu .redes__info .redes__container ul li a:hover {
              transform: translateY(3px) scale(1.05); }
      footer .footer__menu .redes__info .info__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        footer .footer__menu .redes__info .info__footer .email a {
          font-size: 1.4em;
          text-decoration: none;
          color: #fff;
          text-align: center;
          margin-right: 10rem; }
          footer .footer__menu .redes__info .info__footer .email a:hover {
            color: #0075ff;
            transition: 0.2s ease all; }
        footer .footer__menu .redes__info .info__footer .copyright {
          font-size: 1.4em;
          color: #fff;
          text-align: center; }

@media (max-width: 786px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-content: flex-start; }
    .footer__menu .footer__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem; }
    .footer__menu .redes__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .footer__menu .redes__info .redes__container {
        display: flex;
        flex-direction: row;
        align-items: center; } }

@media (max-width: 576px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-content: flex-start; }
    .footer__menu .footer__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .footer__menu .redes__info {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .footer__menu .redes__info .redes__container {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .footer__menu .redes__info .redes__container ul li {
          display: inline-block;
          margin: 0.5rem;
          width: 3rem;
          height: 3rem;
          text-align: center; }
      .footer__menu .redes__info .info__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .footer__menu .redes__info .info__footer .email a {
          width: 100%;
          font-size: 1.6em;
          text-decoration: none;
          color: #fff;
          text-align: center;
          margin-right: 30px; }
        .footer__menu .redes__info .info__footer .phone a {
          font-size: 1.6em;
          text-decoration: none;
          color: #fff; } }

@media (max-width: 320px) {
  .redes__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%; }
    .redes__info .redes__container {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .redes__info .redes__container ul li {
        margin: 0;
        width: 3rem;
        height: 3rem;
        margin-right: 2rem; }
      .redes__info .redes__container > a {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        text-align: center; } }

/* Views */
.principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: -webkit-radial-gradient(bottom right, #0A160c 10%, #1d3321 40%, #0a160c 60%); }
  .principal .info__principal {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .principal .info__principal .logo__edf {
      width: 500px;
      margin: auto;
      display: block;
      margin-top: 150px;
      margin-bottom: 50px;
      transition: ease-in-out 0.9s; }
    .principal .info__principal h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 2em;
      color: #fff;
      max-width: 100%;
      padding-left: 44rem;
      padding-right: 44rem;
      text-align: center;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); }

@keyframes scale {
  100% {
    transform: scale(1); } }
      .principal .info__principal h1 span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px); }
      .principal .info__principal h1 span:nth-child(1) {
        animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(2) {
        animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(3) {
        animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(4) {
        animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(5) {
        animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(6) {
        animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(7) {
        animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(8) {
        animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(9) {
        animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(10) {
        animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(11) {
        animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(12) {
        animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(13) {
        animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(14) {
        animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(15) {
        animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(16) {
        animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(17) {
        animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(18) {
        animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(19) {
        animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(20) {
        animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(21) {
        animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(22) {
        animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(23) {
        animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(24) {
        animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(25) {
        animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(26) {
        animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(27) {
        animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
        font-weight: lighter; }
      .principal .info__principal h1 span:nth-child(28) {
        animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
        color: #1d67f0; }

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0); } }

/* 
.hidden {
    opacity:0;
} */
/* .console-container {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    height: 200px;
    width: 700px;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: -webkit-radial-gradient(bottom right, #0A160c 10%, #1d3321 40%, #0a160c 60%); }
  main .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 70px; }
    main .hero h1 {
      font-family: "Barlow", sans-serif;
      font-size: 60px;
      transition: ease-in-out all 1.5s;
      margin-bottom: 50px; }
  main .contenedor {
    color: #f2f2f2;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: justify; }
    main .contenedor p {
      margin-bottom: 50px; }
    main .contenedor img {
      width: 800PX;
      height: 500px;
      overflow: hidden;
      margin-bottom: 40px;
      border-radius: 5px;
      opacity: 0;
      transform: scale(0.9);
      transition: .8s ease-in-out all; }
    main .contenedor img.izquierda {
      transform: translateX(-100px); }
    main .contenedor img.derecha {
      transform: translateX(100px); }
    main .contenedor img.visible {
      opacity: 1;
      transform: scale(1) translateX(0); }

body {
  background: -webkit-radial-gradient(bottom right, #0A160c 10%, #1d3321 40%, #0a160c 60%); }

.title {
  font-family: "Barlow", sans-serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase; }

.info-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info-proyecto .titulo-proyecto {
    font-size: 3.5em;
    color: #b1b1b1;
    margin-bottom: 1.5rem; }
  .info-proyecto .descripcion-proyecto {
    font-size: 1.6em;
    color: #b1b1b1;
    margin-bottom: 1.5rem;
    text-align: justify; }

.galeria img {
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
  border-radius: 5px; }

.materialbox-caption {
  bottom: 30px;
  right: 0;
  width: 40%;
  height: auto;
  padding: 10px;
  margin: auto;
  background: #000;
  box-shadow: 5px 5px #fff;
  font-size: 20px;
  color: #fff;
  line-height: 28px; }

.galeria .col {
  margin-bottom: 20px; }

@media screen and (max-width: 600px) {
  .materialbox-caption {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .materialbox-caption {
    width: 70%; } }
