<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/styles.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Portfolio</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="hero">
            <h1>
                <span>Eduardo</span>
                <span>Demartini</span>
            </h1>
        </div>
        <div class="contenedor">
            <p>Nací en la Ciudad de Buenos Aires el 15 de febrero del año 1964, de profesión docente durante los últimos 34 años.<br>
                Mi vínculo con la fotografía es relativamente reciente, comienza con la experimentación autoguiada a partir de la adquisición de una máquina réflex digital hasta mi inclusión en espacios de capacitación formales.<br>
                Realicé cursos de Fotografía Experimental e Inicial y Avanzada durante cuatro años en Villa Mecenas que es un espacio de capacitación en Arte dependiente del Municipio de Morón antes de ser alumno, durante un año, en un curso con el fotógrafo <span class="nombre">Eduardo Longoni.</span><br>
                Desde el año 2021 soy alumno en la escuela de Argra (Asociación de reporteros gráficos de la República Argentina).
                </p>
            <img id="imagen1" class="izquierda" src="../Img/Img_About_Me/AUTORRETRATO2022 (3).JPG" alt="Foto 1">
        </div>
    </main>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Portfolio</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://www.facebook.com/eduardo.demartini.790/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/babudemartini?igshid=YmMyMTA2M2Y=" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/5491164602572" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                            <p>Copyright 2022 © All rights reserved.</p>
                        </div>
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    <script src="./JS/index.js"></script>  
    <script src="../JS/app.js"></script>  
</body>
</html>