<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/styles.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Portfolio</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="hero">
            <h1>Eduardo Demartini</h1>
        </div>
        <div class="contenedor">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ipsam distinctio placeat ipsum architecto minima veritatis accusamus consequuntur repellat hic, fuga adipisci eum unde dolore maiores possimus amet doloribus porro corrupti, non qui! Eos aliquid corrupti enim ullam magnam doloribus molestias laborum ipsum atque ratione, ut in autem cum ex tenetur expedita quaerat harum omnis. Perspiciatis, obcaecati adipisci distinctio accusamus cum voluptatem molestias? Tempora eius reiciendis ab eveniet labore consequuntur consectetur eum repellat nobis.</p>
                <img id="imagen1" class="izquierda" src="../Img/Fotos de prueba/Foto Horizontal 1.jpg" alt="Foto 1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore sit accusamus odio ullam odit mollitia et in doloribus magnam perferendis! Libero tempora dolore quam enim voluptatibus porro molestiae repudiandae mollitia quod, reiciendis quo voluptatum dolorem reprehenderit eum! Similique sint perferendis assumenda nihil repellat placeat quae. Saepe asperiores blanditiis tempore, incidunt, eveniet beatae sint similique at mollitia et aliquid laudantium aperiam? Suscipit perferendis itaque, rerum laboriosam ab maiores in incidunt, ipsam ex voluptatem temporibus eligendi soluta?</p>
                <img id="imagen2" class="derecha" src="../Img/Fotos de prueba/Foto Horizontal 2.jpg" alt="Foto 2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, odio. Temporibus incidunt laudantium repellendus non deserunt neque nostrum deleniti maxime, ex inventore, aperiam unde, sapiente dolor ad et illum sint voluptatem minima. Nam culpa aliquid quos mollitia libero porro fugit tempore aut illum natus, necessitatibus, ipsa, incidunt doloribus optio veniam nemo commodi accusantium. At dolorem corporis aliquam possimus accusantium fugit, commodi quas voluptates necessitatibus eveniet eum magni assumenda reprehenderit, perspiciatis accusamus atque, praesentium porro quisquam?</p>    
                <img id="imagen3" class="izquierda" src="../Img/Fotos de prueba/Foto Horizontal 3.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia minus eius impedit inventore? Omnis rerum sunt odio aspernatur nobis sed impedit accusantium similique molestias eveniet accusamus veniam laudantium sapiente, deleniti tempore autem aut ex quasi sequi, amet consequuntur perspiciatis dolorum obcaecati quidem? Magnam adipisci totam a? Libero reiciendis iure consequuntur maiores adipisci rem odit corrupti, cupiditate facere deserunt hic tenetur consequatur in laudantium. Veniam dolorum facere ea vel voluptas consequatur vitae laboriosam nesciunt doloremque natus!</p>
                <img id="imagen4" class="derecha" src="../Img/Fotos de prueba/Foto Horizontal 4.jpg" alt="">
        </div>
    </main>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Portfolio</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                        </div>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                          
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    <script src="../JS/app.js"></script>   
</body>
</html>