<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/styles.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Portfolio</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section class="contact__form">
        <!-- <form class="form">
            <h2>Consultas</h2>
            <p type="Nombre:"><input placeholder="Escriba su nombre.."></input></p>
            <p type="Email:"><input placeholder="Escriba su email para responderle.."></input></p>
            <p type="Mensaje:"><input placeholder="Escribanos su consulta.."></input></p>
            <button>Send Message</button>
            <div class="phone_envelope">
                <span class="fa fa-phone"></span>+54-11-5555-5555
                <span class="fa fa-envelope-o"></span> eduardodemartinit@gmail.com
            </div>
        </form> -->
    </section>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Portfolio</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://www.facebook.com/eduardo.demartini.790/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/babudemartini?igshid=YmMyMTA2M2Y=" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/5491164602572" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                            <p>Copyright 2022 © All rights reserved.</p>
                        </div>
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    
</body>
</html>