<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/styles.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section>

    </section>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Proyectos</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                        </div>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                          
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    
</body>
</html>