<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="../Css/styles.css">
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Portfolio</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <div class="row">
        <div class="col s12 center-align">
            <span>
                <h1 class="title__gen">Portfolio</h1>
            </span>
        </div>
    </div>
    <main class="container__principal">
        <!-- Proyecto_1 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Marcha aniversario del golpe de estado <br>luego de la pandemia.</h3>
                <p class="fecha__proyecto">24 de marzo 2022</p>
                <p class="info__article">Masiva movilización a Plaza de Mayo en el marco del Día de la Memoria, la Verdad y la Justicia al recordarse los 46 años del golpe militar. Es la primer marcha multitudinaria que se desarrolla luego de dos años de pandemia.<br>Cierra ersta convocatoria actos, vigilias y marchas en todo el país. CABA, Argentina,</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0001.jpeg">
                <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0002.jpeg">
                <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0003.jpeg">
                <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0004.jpeg">
                <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0005.jpeg">
            </div>
        </article>
        <!-- Proyecto_2 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Acto en la plaza San Martín de Morón<br>en homenaje a los ex combatientes</h3>
                <p class="fecha__proyecto">2 de abril 2022</p>
                <p class="info__article">El municipio de Morón conmemora los 40 años de la Guerra de Malvinas con un reconocimiento a los veteranos de la localidad. Rodeado de una plaza colmada el intendente Lucas Ghi junto a la Diputada Nacional Mónica Macha y la autoridad de ACUMAR  Martín Sabbatella entregan medallas y reconocimientos a ex combatientes y familiares de caídos en la guerra. Morón, Provincia de Buenos Aires.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0002.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_3 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Acto por el día del trabajador<br> de las organizaciones de la economía popular</h3>
                <p class="fecha__proyecto">1 de mayo 2022</p>
                <p class="info__article">En Avenida de Mayo y 9 de Julio, pleno centro de la Ciudad de Buenos Aires, este domingo 1° de mayo la Unión de Trabajadores de la Economía Popular – UTEP – realizó la celebración del día internacional del trabajador con un acto multitudinario en el que los oradores reclamaron por la aprobación de leyes que favorezcan la inclusión de los trabajadores informales y de la economía popular. Ante más de 300 mil personas brindaron un apoyo explícito al gobierno de Alberto Fernández y criticaron las disputas internas en la coalición gobernante. CABA, Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0001.jpeg">
                <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0002.jpeg">
                <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0003.jpeg">
                <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0004.jpeg">
                <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0005.jpeg">
                
            </div>
        </article>
        <!-- Proyecto_4 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Recital de Sandra Mihanovivh en Morón.</h3>
                <p class="fecha__proyecto">21 de mayo 2022</p>
                <p class="info__article">En el marco de los festejos por el 111 aniversario de Villa Sarmiento, localidad perteneciente al Partido de Morón, Provincia de Buenos Aires, Argentina se presenta con su espectáculo la cantante Sandra Mihanovich junto a los artistas que la acompañan habitualmente. 
                Una importante cantidad de vecinos y seguidorxs de la artista se hacen presentes desde muy temprano en la Plaza Alsina, ubicada en el corazón del barrio en el que viviera María Elena Walsh. Feria de emprendedores y espectáculos infantiles y musicales completan la jornada festiva. Villa Sarmiento, Morón, Provincia de Buenos Aires.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0003.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_5 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Etapa municipal de los Juegos Bonaerenses<br> para personas con discapacidad intelectual.</h3>
                <p class="fecha__proyecto">8 de junio 2022</p>
                <p class="info__article">Se desarrolla la etapa municipal de los Juegos Bonaerenses en la disciplina fútbol para personas con discapacidad intelectual. En el Polideportivo de la localidad de Hurlingham agrupados en dos categorías se juega la instancia que definirá a los ganadores que participarán de la etapa regional y que clasificará a la final que se realizará en la ciudad de Mar del Plata  entre octubre y noviembre de este año. Hurlingham, Prov de Buenos Aires, Argentina</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0001.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0002.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0003.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0004.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0005.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_6 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Marcha contra travesticidios</h3>
                <p class="fecha__proyecto">26 de junio 2022</p>
                <p class="info__article">Referentes de la comunidad travesti, trans y no binario se movilizan desde Plaza de Mayo hacia el Congreso de la Nación, en una jornada que tuvo distintas manifestaciones a lo largo del país, donde se pidió por la aparición de Tehuel de la Torre y la incorporación de la figura del "travesticidio, transfemicidio y transhomicidio" al Código Penal, entre otras demandas. CABA, Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0003.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0004.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_7 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Partido de la Primera B Nacional del Fútbol Argentino<br> Dep Morón vs Temperley.</h3>
                <p class="fecha__proyecto">9 de julio 2022</p>
                <p class="info__article">En la localidad del oeste del conurbano se enfretna en su cancha el Deportivo Morón al Club Atlétivo Temperley dirigido por José María Bianco. A los 12 minutos del inicio del partido el delantero Franco Ayunta pone al visitante en ventaja. En la imagen se observa el empate del local a los 3 minutos del segundo tiempo por parte del delantero Leonardo Ramos.El partido que tuvo gran cantidad de amonestados finalizó empatado. Morón, Provincia de Buenos Aires.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0001.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0003.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0004.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_8 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Marcha de la CGT CTA y organizaciones sociales<br> contra la especulación.</h3>
                <p class="fecha__proyecto">17 de agosto 2022</p>
                <p class="info__article">Marchan la CGT, CTA y los movimientos sociales en defensa del salario, contra especuladores y formadores de precios. La marcha se concentra en el obelisco y se traslada hacia la PLaza de los Dos Congreso.s. Participantes se expresan ante el fotógrafo. CABA, Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0001.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0002.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0003.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0005.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_9 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Retrato inmediato.</h3>
                <p class="fecha__proyecto">29 de agosto 2022</p>
                <p class="info__article">Ludmila Tsacalián, alumna de la Escuela de ARGRA posa como modelo en una práctica de la materia Fotoperiodismo 1. Ciudad de Buenos Aires, Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/09 - Retrato inmediato/TP_010RETRATO INMEDIATOEduardo Demartini0001.jpeg">
            </div>
        </article>
        <!-- Proyecto_10 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Acto en repudio al atentado<br>contra la vicepresidenta CFK.</h3>
                <p class="fecha__proyecto">2 de septiembre 2022</p>
                <p class="info__article">Manifestantes expresan su solidaridad con CFK en la concentración en repudio al atentado que sufriera la Vicepresidente de la Nación el día jueves 1 de septiembre frente a su domicilio. CABA. Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/10 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0003.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_11 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Historia de vida<br>"El ferretero peronista de Morón"</h3>
                <p class="fecha__proyecto">Septiembre de 2022</p>
                <p class="info__article">Roberto Ricardo Botti abrió su ferretaría en el local de la calle 25 de Mayo al 300, pleno centro de la localidad de Morón en la Provincia de Buenos Aires, apenas unos días antes del estallido de diciembre de 2001. Con el dinero de la indemnización recibida luego del cierre de la fábrica La Castelar  en la que trabajó por 20 años y, junto a un socio y compañero ya fallecido, alquilaron un local que apenas los ayudó a mantenerse durante esos duros primeros años.  Con el tiempo se transformó en un personaje reconocido en el barrio y respetado por sus vecinos comerciantes por la convicción de que la solidaridad nos hace mejores. Su identidad peronista y kirchnerista se visualiza en cada rincón de su local comercial.</p>
            <span id="hideText" class="hideText">
                <p>Durante tres días de septiembre realicé el seguimiento de la vida de este trabajador de comercio. Arranca muy temprano, antes del horario habitual de apertura del negocio y finaliza después de la hora formal de cierre. Cuando pudo reabrir luego de la pandemia tuvo que modificar la forma de atención. Antes era dentro del local y con mucho tiempo para conversar con el cliente, asesorando y orientando sobre lo más conveniente para resolver su problema,  ahora ese encuentro se produce cortina metálica de por medio. Su edad hace que el barbijo y la distancia sean un imperativo para el mejor cuidado de su salud.
                Su sobrino, también Roberto, y su hija Sibila lo acompañan y ayudan en la atención al público el primero y en la administración y cuentas la segunda también forman parte de esta historia. El ferretero peronista de Morón es una "entidad". Respetado y querido por quienes lo conocen siempre brinda una ayuda a quienes lo necesitan. Personaje querible que, rodeado de Perón, Evita, Néstor y Cristina, ejercita con convicción  la consigna de que la patria es el otro.
                </p>
            </span>
            <button class="readMore_btn" id="readMore_btn">Leer mas...</button>               
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/11 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_001.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/11 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_002.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/11 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_003.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/11 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_004.jpeg" alt="">
                <img src="../Img/PORTAFOLIO/11 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_005.jpeg" alt="">
            </div>
        </article>
        <!-- Proyecto_12 -->
        <article class="container__project">
            <div class="info__project">
                <h3 class="titulo__proyecto">Entrevista retrato aparato.</h3>
                <p class="fecha__proyecto">9 de septiembre 2022</p>
                <p class="info__article">El peluquero Fernando Rizzo dearrolla su actividad en el local en el que se desempeña desde hace 30 años ubicado en la localidad de Lomas del Mirador en el partido de La Matanza. Provincia de Buenos Aires, Argentina.</p>
            </div>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="650px" data-height="450px">
                <img src="../Img/PORTAFOLIO/12 - Entrevista retrato aparato/TP_011ENTREVISTA RETRATO APARATO_Eduardo Demartini0002.jpeg" alt="">
            </div>
        </article>                     
    </main>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Portfolio</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://www.facebook.com/eduardo.demartini.790/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/babudemartini?igshid=YmMyMTA2M2Y=" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/5491164602572" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                            <p>Copyright 2022 © All rights reserved.</p>
                        </div>
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/readMore.js"></script>
</body>
</html>