<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/styles.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section class="projects">
        <article class="articulos">
            <h2>Mis Proyectos...</h2>
            <div class="parent">
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 1.jpg" alt="">
                    </div>
                </div>
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 2.jpg" alt="">
                    </div>
                </div>
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 3.jpg" alt="">
                    </div>
                </div>
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 4.jpg" alt="">
                    </div>
                </div>
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 5.jpg" alt="">
                    </div>
                </div>
                <div class="div-articulos">
                    <div class="texto-articulos">
                    <h3>Proyecto 6</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus eaque facilis cupiditate corporis praesentium, quam perferendis voluptatum blanditiis sapiente aliquid nihil non a repellendus ex eos quia, voluptatem architecto explicabo obcaecati qui at maiores ipsam totam illum. Quaerat, nihil distinctio. Delectus, at. Nihil omnis, tenetur iusto deserunt facere dolores est perferendis esse commodi minus laudantium veritatis cupiditate neque mollitia reiciendis possimus cum, nesciunt porro corrupti? Veritatis quas saepe ipsum commodi.</p>
                    </div>
                    <div class="img__container">
                        <img src="../Img/Fotos de prueba/Foto Vertical 6.jpg" alt="">
                    </div>
                </div>
                <!-- <div class="div7">
                    <h2>Proyecto 7</h2>
                    <img src="../Img/Fotos de prueba/Foto Vertical 7.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem, earum aut saepe eius officia.</p>
                </div>
                <div class="div8">
                    <h2>Proyecto 8</h2>
                    <img src="../Img/Fotos de prueba/Foto Vertical 8.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem, earum aut saepe eius officia.</p>
                </div>
                <div class="div9">
                    <h2>Proyecto 9</h2>
                    <img src="../Img/Fotos de prueba/Foto Vertical 9.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem, earum aut saepe eius officia.</p>
                </div> -->
               <!--  <div class="div10">
                    <h2>Proyecto 10</h2>
                    <img src="../Img/Fotos de prueba/Foto Vertical 10.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem, earum aut saepe eius officia.</p>
                </div>  -->               
            </div>
        </article>
    </section>
    <footer>
        <section class="footer__menu">
            <nav class="footer__nav">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Proyectos</a>
                <a href="./contact.html">Contacto</a>
            </nav>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/?lang=es" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>   
                <div class="info__footer">
                    <div class="email">
                        <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                    </div>
                    <div class="phone">
                        <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                    </div>
                    <div class="copyright">
                        <p>Copyright 2022 © All rights Reserved</p>
                    </div>                          
                </div>                                            
            </section>                    
        </section>               
    </footer>
</body>
</html>