<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="../Img/Logo Nav - Icon.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/styles.css">
    <title>Eduardo Demartini - Fotografia</title>
</head>
<body>
    <header class="header">
        <div class="logo__header">
            <img src="../Img/Logo Nav.svg" alt="Logo Eduardo Demartini">
        </div>
        <div class="nav">
            <ul class="nav__bar">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about_Me.html">Acerca de mí</a></li>
                <li><a href="./projects.html">Portfolio</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="title">Portfolio</h1>
            </div>
        </div>
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Marcha aniversario del golpe de estado luego de la pandemia</h2>
            <p class="descripcion-proyecto">24de marzo de 2022</p>
        </div>
        <!-- Portfolio 1 -->
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/01 - Marcha Aniversario del golpe de estado luego de la pandemia_24de marzo de 2022/TP0001_ACTUALIDAD_DICTADURAEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 2 -->        
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Acto en la PLaza San Martín de Morón en homenaje a los ex combatientes</h2>
            <p class="descripcion-proyecto">2 de abril de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/02 - Acto en la PLaza San Martín deMorón en homenaje a los ex combatientes_2 de abril de 2022/TP_002ACTUALIDAD_MALVINASEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 3 -->        
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Acto por el día del trabajador de las organizaciones de la economía popular</h2>
            <p class="descripcion-proyecto">1 de mayo de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/03 - Acto por el día del trabajador de las organizaciones de la economía popular_1 de mayo de 2022/TP_004ACTUALIDAD_1 DE MAYOEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 4 -->        
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Recital Sandra Mihanovich en Morón</h2>
            <p class="descripcion-proyecto">21 de mayo de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/04 - RECITAL DE SANDRA MIHANOVICH EN MORÓN_21 de mayo de 2022/TP_008GÉNERO_ESPECTÁCULOSEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 5 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual</h2>
            <p class="descripcion-proyecto">8 de junio de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/05  Etapa municipal de los Juegos Bonaerenses para personas con discapacidad intelectual_8 de junio de 2022/TP_009DEPORTES IIEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 6 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Marcha contra travesticidios</h2>
            <p class="descripcion-proyecto">26 de junio de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/06 - MARCHA CONTRA TRAVESTICIDIOS_26 de junio de 2022/TP_006ACTUALIDAD_MARCHA CONTRA TRAVESTICIDIOSEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 7 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Partido de la primera B nacional. Deportivo Morón - Temperley</h2>
            <p class="descripcion-proyecto">9 de julio de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/07 - Partido de la Primera B Nacional del Fútbol Argentino Dep Morón vs Temperley_9 de Julio 2022/TP_009DEPORTES I_Eduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 8 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Marcha de la CGT, CTA y organizaciones sociales contra la especulación.</h2>
            <p class="descripcion-proyecto">17 de agosto de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/08 - Marcha de la CGT CTA y organizaciones sociales contra la especulación_17 de agosto de 2022/TP_003ACTUALIDAD_LIBRE_ACTO CGT CTA Eduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 9 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Acto de repudio al atentado contra la Vicepresidenta CFK</h2>
            <p class="descripcion-proyecto">2 de septiembre de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/09 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/09 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/09 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/09 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/09 - ACTO EN REPUDIO AL ATENTADO CONTRA LA VICEPRESIDENTA CFK_2 de septiembre de 2022/TP_006ACTUALIDAD_ACTO EN REPUDIO AL ATENTADO CONTRA CFKEduardo Demartini0005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
        <!-- Portfolio 10 --> 
        <div class="info-proyecto">
            <h2 class="titulo-proyecto">Historias de vida - El ferretero Peronista de Morón</h2>
            <p class="descripcion-proyecto">Septiembre de 2022</p>
        </div>
        <div class="row galeria">
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_001.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_002.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_003.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_004.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_005.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="material-placeholder">
                    <img src="../Img/PORTAFOLIO/10 - Historia de vida_El ferretero peronista de Morón_Septiembre de 2022/TPf_013HISTORIA DE VIDA TERRITORIAL_EDUARDO DEMARTINI_006.jpeg" alt="" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <section class="footer__menu">
            <main class="footer__links">
                <a href="../index.html">Home</a>
                <a href="./about_Me.html">Acerca de mí</a>
                <a href="./projects.html">Portfolio</a>
                <a href="./contact.html">Contacto</a>
            </main>
            <section class="redes__info">
                <div class="redes__container">
                    <ul>
                        <li><a href="https://www.facebook.com/eduardo.demartini.790/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/babudemartini?igshid=YmMyMTA2M2Y=" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/5491164602572" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                    <div class="info__footer">
                        <div class="email">
                            <a href="mailto:eduardodemartini@gmail.com">eduardodemartini@gmail.com</a>
                        </div>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                          
                    </div>
                </div>                                                                
            </section>                    
        </section>               
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../JS/main.js"></script>
</body>
</html>