//FOOTER

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: $font-secondary;
    background: $background-gradient-2;
	height: 250px;
        
    & .footer__menu{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;        
    
        & .footer__links{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background: none;
            margin-top: $spacing-base;
                        
            & a {
                color: $alternative2;
                text-decoration: none;
                width: 200px;
                text-align: center;
                font-size: $text-small;
                text-transform: uppercase;
        
                &:hover {
                color: $alternative5;
                transition: 0.2s ease all;
                }
            }
        }       

        & .redes__info{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;


        & .redes__container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

                & ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    & li{
                        display: inline-block;
                        text-align: center;
                        padding: $spacing-base;
                        
                        & .facebook:hover{
                            color: $facebook;
                            transition: 0.3s ease all;
                        }
                
                        & .instagram:hover{
                            color: $instagram;
                            transition: 0.3s ease all;
                        }
                
                        & .whatsapp:hover{
                            color: $whatsapp;
                            transition: 0.3s ease all;
                        }
                
                        & a{
                            display: inline-block;
                            color: $alternative2;
                            font-size: $text-xlarge; 
                            
                            &:hover{
                                transform: translateY(3px) scale(1.05);
                            }
                        }   
                    }
                }        
            }

            & .info__footer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                
                & .email{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & a{
                        font-size: $text-base;
                        text-decoration: none;
                        color: $alternative2;
                        text-align: center;                                        
                        
                        &:hover {
                            color: $alternative5;
                            transition: 0.2s ease all;
                        }
                    }

                    & p{
                        font-size: $text-xsmall;
                        font-weight: lighter;
                        text-decoration: none;
                        color: $text-color-2;
                        text-align: center;
                        margin-bottom: $spacing-base;                       
                    }
                }
            }        
        }
    }    
}


//RESPONSIVE


@media (max-width: 720px){   
    
    .footer__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer__links{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: $text-xxsmall;
        } 
    }    
}

@media (max-width: 576px) {
    
}

@media (max-width: 320px){
    
}