@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    background: $background-gradient-5;
}

.titulo {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: $text-color-2;
	font-family: 'Roboto' sans-serif;
}

.info-proyecto{
	display: flex;
	flex-direction: column;
	justify-content: center;

	& .titulo-proyecto{
		font-size: $text-large;
		color: $text-color-3;
		margin-bottom: $spacing-small;
	}

	& .descripcion-proyecto{
		font-size: $text-small;
		color: $text-color-3;
		margin-bottom: $spacing-small;
		text-align: justify;
	}
}


.galeria img {
	box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
	border-radius: 5px;
}

.materialbox-caption {
	bottom: 30px;
	right: 0;
	width: 40%;
	height: auto;
	padding: 10px;
	margin: auto;
	background: #000;
	box-shadow: 5px 5px #fff;
	font-size: 20px;
	color: #fff;
	line-height: 28px;
}

.galeria .col {
	margin-bottom: 20px;
}

@media screen and (max-width: 600px){
	.materialbox-caption {
		width: 90%;
	}
}

@media screen and (max-width: 992px){
	.materialbox-caption {
		width: 70%;
	}
}