
body{
    background: $background-gradient-5;
}
/*  Titulo Portfolio  */

.title__gen{	
	font-family: $font-principal;
	font-size: $text-xxlarge;
	color: $text-color-2;
	max-width: 100%;
	text-align: center;
	transform: scale(0.65);
	animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);

	@keyframes scale {
		100% {
		transform: scale(1);
		}
	}
	
	span {
	display: inline-block;
	opacity: 0;
	filter: blur(4px);
	}
	
	span:nth-child(1) {
	animation: fade-in 0.8s 1.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
	font-weight: lighter;
	}
		
	@keyframes fade-in {
		100% {
		opacity: 1;
		filter: blur(0);
		}            
	}
}

.container__principal{
	width: 100%;
	margin: 0 auto;
}

.container__project{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	justify-content: center;
	padding: $spacing-large;
}

.info__project{
	width: 90%;
	padding: $spacing-small;
}

.titulo__proyecto{
	color: $text-color-7;
	font-size: $text-medium;
	text-align: center;
	font-family: $font-principal;
	height: 25px;
}

.fecha__proyecto{
	color: $text-color-3;
	font-size: $text-small;
	text-align: center;
}

.info__article{
	color: $text-color-3;
	font-size: $text-xsmall;
	text-align: justify;
	line-height: 18px;
	font-family: $font-principal;
	font-weight: 400;
}